<div class="bg-white rounded-xl p-4 lg:py-8 lg:px-9">
  <h2 class="text-l font-unbounded mb-4 md:mb-[30px]">Найцікавіше</h2>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-stretch">
    <!-- Головна картка -->
    <article
      class="rounded-xl overflow-hidden relative hover:scale-[1.02] transition-transform duration-300"
    >
      <ul class="flex gap-2 flex-wrap absolute top-5 left-5 z-10">
        <li>
          <a
            href="/tag.html"
            class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
          >
            <p>Економіка</p>
          </a>
        </li>
        <li>
          <a
            href="/tag.html"
            class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
          >
            <p>Стартап</p>
          </a>
        </li>
        <li>
          <a
            href="/tag.html"
            class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
          >
            <p>Смартфони</p>
          </a>
        </li>
      </ul>
      <a
        href="#"
        class="h-60 p-5 md:h-full rounded-xl block"
        style="
          background: linear-gradient(
              178deg,
              rgba(0, 0, 0, 0) 1.42%,
              rgba(0, 0, 0, 0.8) 72.14%
            ),
            url('static/images/editors.png') lightgray 50% / cover no-repeat;
        "
      >
        <div class="flex flex-col justify-end h-full">
          <div class="text-white">
            <h3 class="text-m lg:text-[36px] font-unbounded mb-3 lg:mb-8">
              Безплатний акселератор з виходу на ринок ЄС для підприємців
            </h3>
            <p class="text-[10px] md:text-[14px] leading-[1.2]">18.02.2025</p>
          </div>
        </div>
      </a>
    </article>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Додаткова картка -->
      <article
        class="bg-accent rounded-xl overflow-hidden h-60 md:col-span-2 md:h-[283px] relative hover:scale-[1.02] transition-transform duration-300"
      >
        <ul class="flex gap-2 flex-wrap absolute top-5 left-5 z-10">
          <li>
            <a
              href="/tag.html"
              class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
            >
              <p>Економіка</p>
            </a>
          </li>
        </ul>

        <a
          href="#"
          class="text-white flex flex-col justify-end h-full p-5 lg:p-6 lg:pt-7"
        >
          <h3 class="text-m font-unbounded mb-3 md:mb-4">
            Євро за кілька днів зріс на півтори гривні: чому такий різкий
            стрибок i як формується курс
          </h3>
          <p class="text-[10px] md:text-[14px] leading-[1.2]">18.02.2025</p>
        </a>
      </article>

      <!-- Маленькі картки -->
      <article
        class="rounded-xl overflow-hidden relative hover:scale-[1.02] transition-transform duration-300"
      >
        <ul class="flex gap-2 flex-wrap absolute top-5 left-5 z-10">
          <li>
            <a
              href="/tag.html"
              class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
            >
              <p>Економіка</p>
            </a>
          </li>
          <li>
            <a
              href="/tag.html"
              class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
            >
              <p>Стартап</p>
            </a>
          </li>
        </ul>
        <a
          href="#"
          class="h-60 p-5 md:p-2 lg:p-5 block"
          style="
            background: linear-gradient(
                178deg,
                rgba(0, 0, 0, 0) 1.42%,
                rgba(0, 0, 0, 0.8) 72.14%
              ),
              url('static/images/editors.png') lightgray 50% / cover no-repeat;
          "
        >
          <div class="flex flex-col justify-end h-full">
            <div class="text-white">
              <h3
                class="text-m font-unbounded mb-3 md:text-[12px] lg:text-[14px] xl:text-[18px]"
              >
                Євро за кілька днів зріс на півтори гривні: чому такий різкий
                стрибок i як формується курс
              </h3>
              <p class="text-[10px] leading-[1.2]">18.02.2025</p>
            </div>
          </div>
        </a>
      </article>

      <article
        class="rounded-xl overflow-hidden relative hover:scale-[1.02] transition-transform duration-300"
      >
        <ul class="flex gap-2 flex-wrap absolute top-5 left-5 z-10">
          <li>
            <a
              href="/tag.html"
              class="bg-lightAccent text-accent text-xxs px-3 py-1 md:px-2 lg:px-3 rounded-[4px] flex w-fit hover:text-white hover:bg-accent transition-colors duration-300"
            >
              <p>Економіка</p>
            </a>
          </li>
        </ul>
        <a
          href="#"
          class="h-60 p-5 md:p-2 lg:p-5 block"
          style="
            background: linear-gradient(
                178deg,
                rgba(0, 0, 0, 0) 1.42%,
                rgba(0, 0, 0, 0.8) 72.14%
              ),
              url('static/images/editors.png') lightgray 50% / cover no-repeat;
          "
        >
          <div class="flex flex-col justify-end h-full">
            <div class="text-white">
              <h3
                class="text-m font-unbounded mb-3 md:text-[12px] lg:text-[14px] xl:text-[18px]"
              >
                Євро за кілька днів зріс на півтори гривні: чому такий різкий
                стрибок i як формується курс
              </h3>
              <p class="text-[10px] leading-[1.2]">18.02.2025</p>
            </div>
          </div>
        </a>
      </article>
    </div>
  </div>
</div>
