<footer class="bg-textColor text-white">
  <div
    class="flex flex-col max-w-[1323px] pt-20 pb-[49px] pr-[46px] pl-[45px] md:pt-[77px] md:pb-[54px]"
  >
    <div>
      <!-- Лого -->
      <div class="text-2xl font-bold mb-[85px] md:mb-0">
        <a href="/">
          <svg
            width="247"
            height="45"
            class="w-[164px] h-[29px] xl:w-[247px] xl:h-[45px]"
          >
            <use href="/static/icons/sprite.svg#logo"></use>
          </svg>
        </a>
      </div>
    </div>

    <div>
      <!-- лінки -->
      <ul class="flex flex-col gap-4 text-[12px] md:text-[14px] font-unbounded">
        <li>
          <a href="#">Про проєкт</a>
        </li>
        <li>
          <a href="#">Оферта</a>
        </li>
        <li>
          <a href="#">Реклама</a>
        </li>
      </ul>
      <!-- навігація -->
      <nav class="ml-[33px] mr-[46px]">
        <ul
          class="px-2 pb-[148px] w-full text-start text-[20px] font-semibold leading-normal"
        >
          <li class="py-4 border-b border-b-borders">
            <a href="/" class="mobile-nav-link hover:text-mint">Головна</a>
          </li>
          <li class="py-4 border-b border-b-borders">
            <a href="/updates.html" class="mobile-nav-link hover:text-mint"
              >Оперативно</a
            >
          </li>
          <li class="py-4 border-b border-b-borders">
            <a href="/details.html" class="mobile-nav-link hover:text-mint"
              >Детально</a
            >
          </li>
          <li class="py-4 border-b border-b-borders">
            <a href="/economy" class="mobile-nav-link hover:text-mint"
              >Економіка</a
            >
          </li>
          <li class="py-4 border-b border-b-borders">
            <a href="/finance" class="mobile-nav-link hover:text-mint"
              >Фінанси</a
            >
          </li>
          <li class="py-4">
            <a href="/startups" class="mobile-nav-link hover:text-mint"
              >Стартапи</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
