<header class="text-textColor md:bg-white">
  <div
    class="bg-white flex items-center justify-between pt-[59px] pb-[25px] px-4 md:py-9 xl:pr-[53px] xl:pl-14 max-w-[1440px] mx-auto"
  >
    <!-- Лого -->
    <div class="text-2xl font-bold">
      <a href="/">
        <svg
          width="203"
          height="34"
          class="w-[142px] h-6 xl:w-[203px] xl:h-[34px] text-black"
        >
          <use href="/static/icons/sprite.svg#logo"></use>
        </svg>
      </a>
    </div>

    <!-- Навігація desktop -->
    <nav>
      <ul class="hidden md:flex gap-3 lg:gap-4 xl:gap-9 text-textColor text-s">
        <li>
          <a href="/" class="nav-link hover:text-accent">Головна</a>
        </li>
        <li>
          <a href="/updates.html" class="nav-link hover:text-accent"
            >Оперативно</a
          >
        </li>
        <li>
          <a href="/details.html" class="nav-link hover:text-accent"
            >Детально</a
          >
        </li>
        <li>
          <a href="/economy" class="nav-link hover:text-accent">Економіка</a>
        </li>
        <li>
          <a href="/finance" class="nav-link hover:text-accent">Фінанси</a>
        </li>
        <li>
          <a href="/startups" class="nav-link hover:text-accent">Стартапи</a>
        </li>
      </ul>
    </nav>

    <div class="flex gap-6">
      <!-- Інпут для пошуку -->
      <div class="relative flex">
        <!-- Інпут для пошуку -->
        <input
          id="search-input"
          type="text"
          placeholder="Пошук"
          class="hidden h-6 md:visible md:w-[106px] lg:w-[150px] xl:w-[203px] md:h-[44px] text-xxs md:text-[15px] font-medium leading-normal px-3 py-[10px] rounded-lg bg-bg text-black placeholder:hidden placeholder-black placeholder-opacity-100 outline-none"
        />
        <!-- Іконка лупи -->
        <div
          class="flex items-center md:absolute md:inset-y-0 md:right-0 md:pr-3 cursor-pointer"
          id="search-icon"
        >
          <svg width="24" height="24">
            <use href="/static/icons/sprite.svg#search"></use>
          </svg>
        </div>
      </div>

      <!-- Бургер-меню для мобільних -->
      <div class="md:hidden flex items-center">
        <div id="burger-icon" class="cursor-pointer">
          <svg width="24" height="24">
            <use href="/static/icons/sprite.svg#menu"></use>
          </svg>
        </div>
      </div>

      <!-- Мобільне меню (спочатку приховане) -->
      <div
        id="mobile-menu"
        class="fixed overflow-auto top-0 right-0 w-full h-full bg-white transform translate-x-full transition-transform duration-300 ease-in-out z-50"
      >
        <div
          class="flex justify-between items-center pt-[76px] pl-10 pr-[37px] pb-[111px]"
        >
          <!-- Лого -->
          <div class="text-2xl font-bold">
            <a href="/">
              <svg width="142" height="24">
                <use href="/static/icons/sprite.svg#logo"></use>
              </svg>
            </a>
          </div>

          <button id="close-menu" class="cursor-pointer">
            <svg width="41" height="41">
              <use href="/static/icons/sprite.svg#close"></use>
            </svg>
          </button>
        </div>

        <nav class="ml-[33px] mr-[46px]">
          <ul
            class="px-2 pb-[148px] w-full text-start text-[20px] font-semibold leading-normal"
          >
            <li class="py-4 border-b border-b-borders">
              <a href="/" class="mobile-nav-link hover:text-accent">Головна</a>
            </li>
            <li class="py-4 border-b border-b-borders">
              <a href="/updates.html" class="mobile-nav-link hover:text-accent"
                >Оперативно</a
              >
            </li>
            <li class="py-4 border-b border-b-borders">
              <a href="/details.html" class="mobile-nav-link hover:text-accent"
                >Детально</a
              >
            </li>
            <li class="py-4 border-b border-b-borders">
              <a href="/economy" class="mobile-nav-link hover:text-accent"
                >Економіка</a
              >
            </li>
            <li class="py-4 border-b border-b-borders">
              <a href="/finance" class="mobile-nav-link hover:text-accent"
                >Фінанси</a
              >
            </li>
            <li class="py-4">
              <a href="/startups" class="mobile-nav-link hover:text-accent"
                >Стартапи</a
              >
            </li>
          </ul>
        </nav>

        <!-- соц мережі -->
        <ul class="flex justify-center items-center gap-[23px] pb-[240px]">
          <li>
            <a
              href="https://uk-ua.facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="32"
                height="32"
                class="text-accent hover:text-mint transition-colors duration-300"
              >
                <use href="/static/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
              <svg
                width="32"
                height="32"
                class="text-accent hover:text-mint transition-colors duration-300"
              >
                <use href="/static/icons/sprite.svg#x"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="32"
                height="32"
                class="text-accent hover:text-mint transition-colors duration-300"
              >
                <use href="/static/icons/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.threads.net/?hl=uk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="32"
                height="32"
                class="text-accent hover:text-mint transition-colors duration-300"
              >
                <use href="/static/icons/sprite.svg#threads"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://web.telegram.org/k/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="32"
                height="32"
                class="text-accent hover:text-mint transition-colors duration-300"
              >
                <use href="/static/icons/sprite.svg#tg"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.viber.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="32"
                height="32"
                class="text-accent hover:text-mint transition-colors duration-300"
              >
                <use href="/static/icons/sprite.svg#viber"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="h-[1px] w-screen bg-borders" />
  <!-- навігація на моб зі скроллом -->
  <nav class="bg-white w-full overflow-x-auto py-[10px] mb-4 md:hidden">
    <ul class="flex gap-[10px] text-neutral text-s ml-2 sm:justify-center">
      <li>
        <a href="/" class="nav-link hover:text-accent">Головна</a>
      </li>
      <li>
        <a href="/updates.html" class="nav-link hover:text-accent"
          >Оперативно</a
        >
      </li>
      <li>
        <a href="/details.html" class="nav-link hover:text-accent">Детально</a>
      </li>
      <li>
        <a href="/economy" class="nav-link hover:text-accent">Економіка</a>
      </li>
      <li>
        <a href="/finance" class="nav-link hover:text-accent">Фінанси</a>
      </li>
      <li>
        <a href="/startups" class="nav-link hover:text-accent">Стартапи</a>
      </li>
    </ul>
  </nav>

  <!-- курс валют -->
  <div
    class="mx-2 pl-2 pr-[6px] py-[7.5px] bg-white rounded-xl flex justify-center items-center"
  >
    <!-- Контент для міжбанку -->
    <div
      id="mono-div"
      class="transition-all duration-300 flex gap-1 xl:gap-[11px] justify-center items-center"
    >
      <p class="text-black text-xs">Міжбанк</p>
      <p class="text-[10px] s:text-xs s:font-normal">
        <span
          class="inline-block text-center s:w-[18px] font-semibold text-accent"
          >$</span
        >41.35 / 41.38
      </p>
      <svg
        class="arrow-icon text-[#3C347F] cursor-pointer transform transition-all duration-300"
        width="24"
        height="24"
      >
        <use href="/static/icons/sprite.svg#arrow"></use>
      </svg>

      <div class="h-[18px] w-[1px] bg-borders"></div>
      <p class="text-[10px] s:text-xs s:font-normal">
        <span
          class="inline-block text-center s:w-[18px] font-semibold text-accent"
          >€</span
        >41.35 / 41.38
      </p>
      <svg
        class="arrow-icon text-[#3C347F] cursor-pointer transform transition-all duration-300"
        width="24"
        height="24"
      >
        <use href="/static/icons/sprite.svg#arrow"></use>
      </svg>
    </div>

    <p class="hidden md:flex mx-4 text-[20px]">·</p>

    <!-- Контент для НБУ -->
    <div
      id="nbu-div"
      class="transition-all duration-300 hidden md:flex gap-1 xl:gap-[11px] justify-center items-center"
    >
      <p class="text-black text-xs">НБУ</p>
      <p class="text-[10px] s:text-xs s:font-normal">
        <span
          class="inline-block text-center s:w-[18px] font-semibold text-accent"
          >$</span
        >41.35 / 41.38
      </p>
      <svg
        class="arrow-icon text-[#3C347F] cursor-pointer transform transition-all duration-300"
        width="24"
        height="24"
      >
        <use href="/static/icons/sprite.svg#arrow"></use>
      </svg>

      <div class="h-[18px] w-[1px] bg-borders"></div>
      <p class="text-[10px] s:text-xs s:font-normal">
        <span
          class="inline-block text-center s:w-[18px] font-semibold text-accent"
          >€</span
        >41.35 / 41.38
      </p>
      <svg
        class="arrow-icon text-[#3C347F] cursor-pointer transform transition-all duration-300"
        width="24"
        height="24"
      >
        <use href="/static/icons/sprite.svg#arrow"></use>
      </svg>
    </div>

    <!-- стрілка,що міняє міжбанк на нбу (моб)-->

    <div
      id="toggle-icon"
      class="md:hidden ml-auto cursor-pointer transform transition-all duration-300"
    >
      <svg width="24" height="24">
        <use href="/static/icons/sprite.svg#arrow-right"></use>
      </svg>
    </div>
  </div>
</header>
