<div
  class="bg-mint h-[216px] md:h-[248px] flex flex-col justify-center items-center gap-6 md:gap-10 rounded-xl py-4 md:py-0"
>
  <p class="font-unbounded text-sm text-center font-normal">
    Читайте більше в наших соцмережах
  </p>
  <ul class="flex justify-center items-center gap-[26px] xl:gap-16">
    <li>
      <a
        href="https://uk-ua.facebook.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="24"
          height="24"
          class="text-black hover:text-[#244141] transition-colors duration-300 lg:w-[52px] lg:h-[52px]"
        >
          <use href="static/icons/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>

    <li>
      <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
        <svg
          width="24"
          height="24"
          class="text-black hover:text-[#244141] transition-colors duration-300 lg:w-[52px] lg:h-[52px]"
        >
          <use href="static/icons/sprite.svg#x"></use>
        </svg>
      </a>
    </li>

    <li>
      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="24"
          height="24"
          class="text-black hover:text-[#244141] transition-colors duration-300 lg:w-[52px] lg:h-[52px]"
        >
          <use href="static/icons/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>

    <li>
      <a
        href="https://www.threads.net/?hl=uk"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="24"
          height="24"
          class="text-black hover:text-[#244141] transition-colors duration-300 lg:w-[52px] lg:h-[52px]"
        >
          <use href="static/icons/sprite.svg#threads"></use>
        </svg>
      </a>
    </li>
    <li>
      <a
        href="https://web.telegram.org/k/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          width="24"
          height="24"
          class="text-black hover:text-[#244141] transition-colors duration-300 lg:w-[52px] lg:h-[52px]"
        >
          <use href="static/icons/sprite.svg#tg"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.viber.com" target="_blank" rel="noopener noreferrer">
        <svg
          width="24"
          height="24"
          class="text-black hover:text-[#244141] transition-colors duration-300 lg:w-[52px] lg:h-[52px]"
        >
          <use href="static/icons/sprite.svg#viber"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
