<section class="rounded-xl bg-white w-full p-4 pb-0 pr-0 md:pt-8 xl:px-9">
  <div class="flex justify-between items-center mb-4 md:mb-6">
    <h3 class="font-unbounded text-ml lg:text-[28px]">Блоги</h3>
    <a
      href="#"
      class="text-accent font-unbounded text-[12px] md:text-[14px] md:font-semibold leading-[1.4] mr-4 xl:mr-0 flex items-center hover:text-mint transition-colors duration-300"
    >
      <p>Всі</p>
      <svg width="12" height="12" class="ml-1">
        <use href="static/icons/sprite.svg#arrow-forward"></use>
      </svg>
    </a>
  </div>
  <ul class="flex gap-4 md:gap-6 overflow-x-auto pb-4 md:pb-9">
    <li
      class="rounded-lg border border-borders w-[264px] lg:w-[294px] flex-none min-h-[356px] md:min-h-[397px]"
    >
      <div
        class="p-5 rounded-xl h-full"
        style="
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 73%
            ),
            url('static/images/blog.png') lightgray 50% / cover no-repeat;
        "
      >
        <div class="flex flex-col justify-end gap-3 h-full">
          <a
            href="/tag.html"
            class="bg-accent text-white text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit hover:bg-lightAccent hover:text-darkAccent transition-colors duration-300"
          >
            <p>Monobank</p>
          </a>
          <a href="#">
            <h4
              class="font-unbounded text-[18px] font-medium leading-[1.4] text-white hover:text-accent transition-colors duration-300"
            >
              Фінанси не поза політикою: яка доля очікує МІБ-банк після санкцій
              на Порошенка
            </h4>
          </a>

          <p class="text-white text-[10px] leading-[1.2] font-medium">
            18.02.2025
          </p>
        </div>
      </div>
    </li>

    <li
      class="rounded-lg border border-borders w-[264px] lg:w-[294px] flex-none min-h-[356px] md:min-h-[397px]"
    >
      <div
        class="p-5 rounded-xl h-full"
        style="
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 73%
            ),
            url('static/images/blog.png') lightgray 50% / cover no-repeat;
        "
      >
        <div class="flex flex-col justify-end gap-3 h-full">
          <a
            href="/tag.html"
            class="bg-accent text-white text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit hover:bg-lightAccent hover:text-darkAccent transition-colors duration-300"
          >
            <p>Monobank</p>
          </a>
          <a href="#">
            <h4
              class="font-unbounded text-[18px] font-medium leading-[1.4] text-white hover:text-accent transition-colors duration-300"
            >
              Фінанси не поза політикою: яка доля очікує МІБ-банк після санкцій
              на Порошенка
            </h4></a
          >

          <p class="text-white text-[10px] leading-[1.2] font-medium">
            18.02.2025
          </p>
        </div>
      </div>
    </li>

    <li
      class="rounded-lg border border-borders w-[264px] lg:w-[294px] flex-none min-h-[356px] md:min-h-[397px]"
    >
      <div
        class="p-5 rounded-xl h-full"
        style="
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 73%
            ),
            url('static/images/blog.png') lightgray 50% / cover no-repeat;
        "
      >
        <div class="flex flex-col justify-end gap-3 h-full">
          <a
            href="/tag.html"
            class="bg-accent text-white text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit hover:bg-lightAccent hover:text-darkAccent transition-colors duration-300"
          >
            <p>Monobank</p>
          </a>
          <a href="#">
            <h4
              class="font-unbounded text-[18px] font-medium leading-[1.4] text-white hover:text-accent transition-colors duration-300"
            >
              Фінанси не поза політикою: яка доля очікує МІБ-банк після санкцій
              на Порошенка
            </h4>
          </a>

          <p class="text-white text-[10px] leading-[1.2] font-medium">
            18.02.2025
          </p>
        </div>
      </div>
    </li>

    <li
      class="rounded-lg border border-borders w-[264px] lg:w-[294px] flex-none min-h-[356px] md:min-h-[397px] mr-4 xl:mr-9"
    >
      <div
        class="p-5 rounded-xl h-full"
        style="
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 73%
            ),
            url('static/images/blog.png') lightgray 50% / cover no-repeat;
        "
      >
        <div class="flex flex-col justify-end gap-3 h-full">
          <a
            href="/tag.html"
            class="bg-accent text-white text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit hover:bg-lightAccent hover:text-darkAccent transition-colors duration-300"
          >
            <p>Monobank</p>
          </a>
          <a href="#">
            <h4
              class="font-unbounded text-[18px] font-medium leading-[1.4] text-white hover:text-accent transition-colors duration-300"
            >
              Фінанси не поза політикою: яка доля очікує МІБ-банк після санкцій
              на Порошенка
            </h4>
          </a>

          <p class="text-white text-[10px] leading-[1.2] font-medium">
            18.02.2025
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
