<section class="bg-white rounded-xl p-4 pr-0 md:pr-4 lg:p-9 lg:pt-8">
  <div class="flex justify-between mb-[22px] md:mb-6 items-center">
    <h2 class="font-unbounded text-l">Колонки</h2>
    <a
      href="/all-news.html"
      class="text-accent font-unbounded text-[12px] md:text-[14px] md:font-semibold leading-[1.4] mr-4 md:mr-0 flex items-center hover:text-[#6D5DFF] transition-colors duration-300"
    >
      <p>Всі</p>
      <svg width="12" height="12" class="ml-1 md:w-[14px] md:h-[14px]">
        <use href="static/icons/sprite.svg#arrow-forward"></use></svg
    ></a>
  </div>
  <ul
    class="flex md:grid md:grid-cols-2 gap-4 lg:gap-6 overflow-x-auto h-[356px] md:h-auto"
  >
    <li class="md:row-span-2">
      <a
        href="/article.html"
        class="rounded-xl p-4 lg:p-6 w-[257px] md:w-auto h-full flex-none flex flex-col justify-between bg-[#BAB3FF] hover:bg-[#ABA4EE] transition-colors duration-300"
      >
        <h3
          class="text-[18px] lg:text-[24px] font-unbounded font-medium leading-[1.4]"
        >
          Чотири ключові рішення для бізнесу у 2025 році
        </h3>

        <div class="flex items-center gap-3">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="49"
            height="49"
            class="rounded-full"
          />
          <div class="text-[#2B293F]">
            <p class="text-[14px] font-semibold leading-[1.4]">Юрій Сидоров</p>
            <p class="text-[12px] leading-[1.4]">Кошт Медіа</p>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a
        href="/article.html"
        class="rounded-xl p-4 lg:p-6 w-[257px] md:w-auto h-full flex-none flex flex-col justify-between bg-[#EDEDF0] md:min-h-[220px] hover:bg-[#E8E8EA] transition-colors duration-300"
      >
        <h3 class="text-[18px] font-unbounded font-medium leading-[1.4]">
          Чотири ключові рішення для бізнесу у 2025 році
        </h3>

        <div class="flex items-center gap-3">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="49"
            height="49"
            class="rounded-full"
          />
          <div class="text-[#2B293F]">
            <p class="text-[14px] font-semibold leading-[1.4]">Юрій Сидоров</p>
            <p class="text-[12px] leading-[1.4]">Кошт Медіа</p>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a
        href="/article.html"
        class="rounded-xl p-4 lg:p-6 w-[257px] md:w-auto h-full flex-none flex flex-col justify-between bg-[#EDEDF0] md:min-h-[220px] hover:bg-[#E8E8EA] transition-colors duration-300"
      >
        <h3 class="text-[18px] font-unbounded font-medium leading-[1.4]">
          Чотири ключові рішення для бізнесу у 2025 році
        </h3>

        <div class="flex items-center gap-3">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="49"
            height="49"
            class="rounded-full"
          />
          <div class="text-[#2B293F]">
            <p class="text-[14px] font-semibold leading-[1.4]">Юрій Сидоров</p>
            <p class="text-[12px] leading-[1.4]">Кошт Медіа</p>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a
        href="/article.html"
        class="rounded-xl p-4 lg:p-6 w-[257px] md:w-auto h-full flex-none flex flex-col justify-between bg-[#EDEDF0] md:min-h-[220px] hover:bg-[#E8E8EA] transition-colors duration-300"
      >
        <h3 class="text-[18px] font-unbounded font-medium leading-[1.4]">
          Чотири ключові рішення для бізнесу у 2025 році
        </h3>

        <div class="flex items-center gap-3">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="49"
            height="49"
            class="rounded-full"
          />
          <div class="text-[#2B293F]">
            <p class="text-[14px] font-semibold leading-[1.4]">Юрій Сидоров</p>
            <p class="text-[12px] leading-[1.4]">Кошт Медіа</p>
          </div>
        </div>
      </a>
    </li>

    <li>
      <a
        href="/article.html"
        class="rounded-xl p-4 lg:p-6 w-[257px] md:w-auto h-full flex-none flex flex-col justify-between bg-[#EDEDF0] mr-4 md:mr-0 md:min-h-[220px] hover:bg-[#E8E8EA] transition-colors duration-300"
      >
        <h3 class="text-[18px] font-unbounded font-medium leading-[1.4]">
          Чотири ключові рішення для бізнесу у 2025 році
        </h3>

        <div class="flex items-center gap-3">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="49"
            height="49"
            class="rounded-full"
          />
          <div class="text-[#2B293F]">
            <p class="text-[14px] font-semibold leading-[1.4]">Юрій Сидоров</p>
            <p class="text-[12px] leading-[1.4]">Кошт Медіа</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</section>
