<div class="bg-white rounded-xl p-4 lg:py-8 lg:px-9">
  <h2 class="text-l font-unbounded mb-4 md:mb-[30px]">Вибір редакції</h2>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-stretch">
    <!-- Головна картка -->
    <article class="rounded-xl overflow-hidden">
      <div
        class="h-60 p-5 md:h-full rounded-xl"
        style="
          background: linear-gradient(
              178deg,
              rgba(0, 0, 0, 0) 1.42%,
              rgba(0, 0, 0, 0.8) 72.14%
            ),
            url('static/images/editors.png') lightgray 50% / cover no-repeat;
        "
      >
        <div class="flex flex-col justify-between h-full">
          <a
            href="/tag.html"
            class="bg-mint text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit"
          >
            <p>Фінанси</p>
          </a>

          <div class="text-white">
            <h3 class="text-m lg:text-[36px] font-unbounded mb-3 lg:mb-8">
              Безплатний акселератор з виходу на ринок ЄС для підприємців
            </h3>
            <p class="text-[10px] md:text-[14px] leading-[1.2]">18.02.2025</p>
          </div>
        </div>
      </div>
    </article>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Додаткова картка -->
      <article
        class="bg-accent p-5 lg:p-6 lg:pt-7 rounded-xl overflow-hidden h-60 md:col-span-2 md:h-[283px]"
      >
        <div class="flex flex-col justify-between h-full">
          <a
            href="/tag.html"
            class="bg-mint text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit"
          >
            <p>Фінанси</p>
          </a>

          <div class="text-white">
            <h3 class="text-m font-unbounded mb-3 md:mb-4">
              Євро за кілька днів зріс на півтори гривні: чому такий різкий
              стрибок i як формується курс
            </h3>
            <p class="text-[10px] md:text-[14px] leading-[1.2]">18.02.2025</p>
          </div>
        </div>
      </article>

      <!-- Маленькі картки -->
      <article class="rounded-xl overflow-hidden">
        <div
          class="h-60 p-5"
          style="
            background: linear-gradient(
                178deg,
                rgba(0, 0, 0, 0) 1.42%,
                rgba(0, 0, 0, 0.8) 72.14%
              ),
              url('static/images/editors.png') lightgray 50% / cover no-repeat;
          "
        >
          <div class="flex flex-col justify-between h-full">
            <a
              href="/tag.html"
              class="bg-mint text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit"
            >
              <p>Фінанси</p>
            </a>

            <div class="text-white">
              <h3
                class="text-m font-unbounded mb-3 md:text-[12px] lg:text-[14px] xl:text-[18px]"
              >
                Євро за кілька днів зріс на півтори гривні: чому такий різкий
                стрибок i як формується курс
              </h3>
              <p class="text-[10px] leading-[1.2]">18.02.2025</p>
            </div>
          </div>
        </div>
      </article>

      <article class="rounded-xl overflow-hidden">
        <div
          class="h-60 p-5"
          style="
            background: linear-gradient(
                178deg,
                rgba(0, 0, 0, 0) 1.42%,
                rgba(0, 0, 0, 0.8) 72.14%
              ),
              url('static/images/editors.png') lightgray 50% / cover no-repeat;
          "
        >
          <div class="flex flex-col justify-between h-full">
            <a
              href="/tag.html"
              class="bg-mint text-[16px] font-semibold leading-[1.2] px-2 py-1 rounded-[4px] w-fit"
            >
              <p>Фінанси</p>
            </a>

            <div class="text-white">
              <h3
                class="text-m font-unbounded mb-3 md:text-[12px] lg:text-[14px] xl:text-[18px]"
              >
                Євро за кілька днів зріс на півтори гривні: чому такий різкий
                стрибок i як формується курс
              </h3>
              <p class="text-[10px] leading-[1.2]">18.02.2025</p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
