<div
  class="rounded-xl p-6 pt-4 md:p-0 bg-white border-l-[6px] border-l-mint md:border-l-0 md:bg-transparent"
>
  <h3 class="font-unbounded text-ml mb-[22px] md:hidden">Важливі новини</h3>
  <ul class="flex flex-col md:flex-row gap-3 md:gap-4 lg:gap-6">
    <li
      class="flex flex-col gap-3 md:justify-between border-b border-b-borders pb-4 md:border-b-0 md:border-l-[6px] md:border-l-mint md:px-8 md:py-6 md:bg-white md:rounded-xl"
    >
      <a
        href="#"
        class="text-[18px] md:text-[18px] font-medium leading-[1.4] md:font-normal md:font-unbounded md:tetx-[16px] hover:text-accent transition-colors duration-300"
      >
        "Зимова єПідтримка": програма зупиняється i є лише 2 дні на подання
        заявки
      </a>
      <p class="text-[12px] text-accent font-medium leading-[1.2]">
        18.02.2025
      </p>
    </li>

    <li
      class="flex flex-col gap-3 md:justify-between border-b border-b-borders pb-4 md:border-b-0 md:border-l-[6px] md:border-l-mint md:px-8 md:py-6 md:rounded-xl md:bg-white"
    >
      <a
        href="#"
        class="text-[18px] md:text-[18px] font-medium leading-[1.4] md:font-normal md:font-unbounded md:tetx-[16px] hover:text-accent transition-colors duration-300"
      >
        "Зимова єПідтримка": програма зупиняється i є лише 2 дні на подання
        заявки
      </a>
      <p class="text-[12px] text-accent font-medium leading-[1.2]">
        18.02.2025
      </p>
    </li>

    <li
      class="flex flex-col gap-3 md:justify-between border-b border-b-borders pb-4 md:border-b-0 md:border-l-[6px] md:border-l-mint md:px-8 md:py-6 md:rounded-xl md:bg-white"
    >
      <a
        href="#"
        class="text-[18px] md:text-[18px] font-medium leading-[1.4] md:font-normal md:font-unbounded md:tetx-[16px] hover:text-accent transition-colors duration-300"
      >
        "Зимова єПідтримка": програма зупиняється i є лише 2 дні на подання
        заявки
      </a>
      <p class="text-[12px] text-accent font-medium leading-[1.2]">
        18.02.2025
      </p>
    </li>
  </ul>
</div>
