<div
  class="rounded-xl pt-[26px] px-4 pb-8 md:py-8 md:px-3 xl:px-9 bg-white h-full"
>
  <h3 class="font-unbounded text-ml xl:text-[28px] mb-[26px] md:mb-6">
    Останні новини
  </h3>
  <div class="flex flex-col justify-between h-[92.5%] gap-6">
    <ul class="flex flex-col gap-4">
      <li class="flex flex-col gap-2 border-b border-b-borders pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300"
        >
          Банки посилять перевірки документів під час фінмону на фоні низки
          підробок
        </a>
      </li>

      <li class="flex flex-col gap-2 border-b border-b-borders pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300"
        >
          Чому затримуються виплати "Національного кешбеку" i коли їх очікувати
        </a>
      </li>

      <li class="flex flex-col gap-2 border-b border-b-borders pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300"
        >
          Вивести бізнес на світовий ринок: Саміт експортерів від Forbes
        </a>
      </li>

      <li class="flex flex-col gap-2 border-b border-b-borders pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300"
        >
          Третій у битві за знижки: IT-компанія Київстару запустила сервіс зі
          знижками на страви у закладах
        </a>
      </li>

      <li class="flex flex-col gap-2 border-b border-b-borders pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300 font-normal"
        >
          Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
          повноцінну телефонію у смартфоні
        </a>
      </li>

      <li class="flex flex-col gap-2 border-b border-b-borders pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300"
        >
          Навчання та грант до 179000 грн на власну справу для ВПО
        </a>
      </li>

      <li class="flex flex-col gap-2 pb-4">
        <p class="text-[10px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
        <a
          href="#"
          class="text-[18px] md:text-[16px] lg:text-[18px] text-black leading-[1.4] hover:text-accent transition-colors duration-300"
        >
          Навчання та грант до 179000 грн на власну справу для ВПО
        </a>
      </li>
    </ul>

    <a
      href="/all-news.html"
      class="flex justify-center items-center font-unbounded text-[12px] lg:text-[14px] leading-[1.4] bg-accent text-white rounded-lg h-[52px] font-semibold hover:bg-[#6D5DFF] transition-colors duration-300"
    >
      <p>Всі новини</p>
      <svg width="16" height="16" class="ml-1">
        <use href="static/icons/sprite.svg#arrow-forward"></use>
      </svg>
    </a>
  </div>
</div>
