<div
  class="rounded-xl p-6 md:py-8 md:px-3 xl:px-9 bg-white border-l-[6px] border-l-mint mb-6 md:mb-[77px] md:border-l-0"
>
  <h3 class="font-unbounded text-ml mb-[22px] md:mb-4">Важливі новини</h3>
  <ul class="flex flex-col gap-3 md:gap-4 mb-6 md:mb-[46px]">
    <li
      class="flex flex-col md:flex-col-reverse gap-3 md:gap-2 border-b border-b-borders pb-4"
    >
      <a
        href="#"
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal hover:text-accent transition-colors duration-300"
      >
        Програму "Національного кешбеку" хочуть продовжити, але це не точно
      </a>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>

    <li
      class="flex flex-col md:flex-col-reverse gap-3 md:gap-2 border-b border-b-borders pb-4"
    >
      <a
        href="#"
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal hover:text-accent transition-colors duration-300"
      >
        Більше не потрібен папір: у "Дії" тепер відображається дозвіл на зброю
      </a>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>

    <li class="flex flex-col md:flex-col-reverse gap-3 md:gap-2">
      <a
        href="#"
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal hover:text-accent transition-colors duration-300"
      >
        Bitcoin обвалився у кишені США: реакція ринку на офіційне створення
        крипторезерву
      </a>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>
  </ul>

  <a
    href="/all-news.html"
    class="flex h-[34px] justify-center items-center text-accent font-unbounded text-[12px] lg:text-[14px] leading-[1.4] md:bg-accent md:text-white md:rounded-lg md:h-[52px] md:font-semibold md:hover:bg-mint md:hover:text-black transition-colors duration-300"
  >
    <p>Всі новини</p>
    <svg width="16" height="16" class="ml-1">
      <use href="static/icons/sprite.svg#arrow-forward"></use>
    </svg>
  </a>
</div>
