<div
  class="p-4 sm:p-8 sm:mb-8 border border-borders rounded-2xl sm:bg-[#FAFAFA]"
>
  <h3
    class="mb-5 bg-accent px-2 py-1 text-white font-unbounded text-[16px] sm:text-[18px] sm:text-darkAccent sm:bg-transparent sm:p-0 leading-[1.2] font-semibold sm:font-medium rounded-[4px] inline-block"
  >
    Найцікавіше <span class="hidden sm:inline"> на сайті</span>
  </h3>
  <ul class="flex flex-col gap-5 sm:gap-6">
    <li
      class="flex gap-4 sm:gap-[30px] sm:flex-row-reverse border-b border-borders pb-6"
    >
      <div>
        <h4 class="text-black text-s sm:font-unbounded mb-3">
          Євро за кілька днів зріс на понад гривню: як формується курс i чому
          такий різкий стрибок
        </h4>
        <p class="text-[12px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
      </div>
      <img
        src="/static/images/test2.png"
        alt="зображення"
        width="101"
        height="67"
        class="w-[101px] h-[67px] sm:w-[165px] sm:h-[110px] rounded-lg"
      />
    </li>

    <li
      class="flex gap-4 sm:gap-[30px] sm:flex-row-reverse border-b border-borders pb-6"
    >
      <div>
        <h4 class="text-black text-s sm:font-unbounded mb-3">
          Євро за кілька днів зріс на понад гривню: як формується курс i чому
          такий різкий стрибок
        </h4>
        <p class="text-[12px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
      </div>
      <img
        src="/static/images/test2.png"
        alt="зображення"
        width="101"
        height="67"
        class="w-[101px] h-[67px] sm:w-[165px] sm:h-[110px] rounded-lg"
      />
    </li>

    <li class="flex gap-4 sm:gap-[30px] sm:flex-row-reverse pb-6">
      <div>
        <h4 class="text-black text-s sm:font-unbounded mb-3">
          Євро за кілька днів зріс на понад гривню: як формується курс i чому
          такий різкий стрибок
        </h4>
        <p class="text-[12px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
      </div>
      <img
        src="/static/images/test2.png"
        alt="зображення"
        width="101"
        height="67"
        class="w-[101px] h-[67px] sm:w-[165px] sm:h-[110px] rounded-lg"
      />
    </li>
  </ul>
</div>
