<div
  class="p-4 sm:p-8 sm:mb-8 border border-borders rounded-2xl sm:bg-[#FAFBFF]"
>
  <h3
    class="mb-5 bg-accent px-2 py-1 text-white font-unbounded text-[16px] leading-[1.2] font-semibold sm:font-medium rounded-[4px] inline-block"
  >
    Найцікавіше
  </h3>
  <ul class="flex flex-col gap-5 sm:gap-6">
    <li class="flex gap-4 sm:gap-[30px] border-b border-borders pb-6">
      <div>
        <a href="#">
          <h4
            class="text-black text-s sm:font-unbounded mb-3 hover:text-accent transition-colors duration-300"
          >
            Євро за кілька днів зріс на понад гривню: як формується курс i чому
            такий різкий стрибок
          </h4>
        </a>

        <p class="text-[12px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
      </div>
      <a
        href="#"
        class="w-[101px] h-[67px] sm:w-[165px] sm:h-[110px] flex-none"
      >
        <img
          src="static/images/test2.png"
          alt="зображення"
          width="101"
          height="67"
          class="w-full h-auto rounded-lg"
        />
      </a>
    </li>

    <li class="flex gap-4 sm:gap-[30px] border-b border-borders pb-6">
      <div>
        <a href="#">
          <h4
            class="text-black text-s sm:font-unbounded mb-3 hover:text-accent transition-colors duration-300"
          >
            Євро за кілька днів зріс на понад гривню: як формується курс i чому
            такий різкий стрибок
          </h4>
        </a>
        <p class="text-[12px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
      </div>
      <a
        href="#"
        class="w-[101px] h-[67px] sm:w-[165px] sm:h-[110px] flex-none"
      >
        <img
          src="static/images/test2.png"
          alt="зображення"
          width="101"
          height="67"
          class="w-full h-auto rounded-lg"
        />
      </a>
    </li>

    <li class="flex gap-4 sm:gap-[30px] pb-6">
      <div>
        <a href="#">
          <h4
            class="text-black text-s sm:font-unbounded mb-3 hover:text-accent transition-colors duration-300"
          >
            Євро за кілька днів зріс на понад гривню: як формується курс i чому
            такий різкий стрибок
          </h4>
        </a>
        <p class="text-[12px] text-accent font-medium leading-[1.2]">
          18.02.2025
        </p>
      </div>
      <a
        href="#"
        class="w-[101px] h-[67px] sm:w-[165px] sm:h-[110px] flex-none"
      >
        <img
          src="static/images/test2.png"
          alt="зображення"
          width="101"
          height="67"
          class="w-full h-auto rounded-lg"
        />
      </a>
    </li>
  </ul>
</div>
