<div class="flex gap-2 justify-center">
  <button
    type="button"
    class="flex items-center justify-center bg-accent text-[#FAFBFF] w-8 h-8 rounded-lg text-[10px] font-semibold leading-[1.4]"
  >
    1
  </button>
  <button
    type="button"
    class="flex items-center justify-center bg-[#EDEDF0] text-accent w-8 h-8 rounded-lg text-[10px] font-semibold leading-[1.4]"
  >
    2
  </button>
  <button
    type="button"
    class="flex items-center justify-center bg-[#EDEDF0] text-accent w-8 h-8 rounded-lg text-[10px] font-semibold leading-[1.4]"
  >
    3
  </button>
  <button
    type="button"
    class="flex items-center justify-center bg-[#EDEDF0] text-accent w-8 h-8 rounded-lg text-[10px] font-semibold leading-[1.4]"
  >
    4
  </button>
  <button
    type="button"
    class="flex items-center justify-center bg-[#EDEDF0] text-accent w-8 h-8 rounded-lg text-[10px] font-semibold leading-[1.4]"
  >
    ...
  </button>
  <button
    type="button"
    class="flex items-center justify-center bg-[#EDEDF0] text-accent w-8 h-8 rounded-lg text-[10px] font-semibold leading-[1.4]"
  >
    99
  </button>
</div>
