*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
  @font-face {
    font-family: 'Inter';
    src: url(static/fonts/Inter-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url(static/fonts/Inter-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url(static/fonts/Inter-SemiBold.woff2) format('woff2'),
      url(static/fonts/Inter-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url(static/fonts/Inter-Bold.woff2) format('woff2'),
      url(static/fonts/Inter-Bold.woff) format('woff');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Unbounded';
    src: url(static/fonts/Unbounded-Regular.woff2) format('woff2'),
      url(static/fonts/Unbounded-Regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Unbounded';
    src: url(static/fonts/Unbounded-Medium.woff2) format('woff2'),
      url(static/fonts/Unbounded-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
  }
.container {
  width: 100%;
}
@media (min-width: 384px) {

  .container {
    max-width: 384px;
  }
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {

  .container {
    max-width: 1440px;
  }
}
.container {
    max-width: 100%;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
  }
@media (max-width: 767px) {
    .container {
      padding: 0 8px;
    }
  }
@media (min-width: 768px) {
    .container {
      padding: 0 20px;
    }
  }
@media (min-width: 1440px) {
    .container {
      padding: 0;
      max-width: 1323px;
    }
  }
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.right-0 {
  right: 0px;
}
.top-0 {
  top: 0px;
}
.z-50 {
  z-index: 50;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-\[14px\] {
  margin-bottom: 14px;
}
.mb-\[22px\] {
  margin-bottom: 22px;
}
.mb-\[240px\] {
  margin-bottom: 240px;
}
.mb-\[26px\] {
  margin-bottom: 26px;
}
.mb-\[30px\] {
  margin-bottom: 30px;
}
.mb-\[46px\] {
  margin-bottom: 46px;
}
.mb-\[62px\] {
  margin-bottom: 62px;
}
.mb-\[85px\] {
  margin-bottom: 85px;
}
.mb-\[89px\] {
  margin-bottom: 89px;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-\[33px\] {
  margin-left: 33px;
}
.ml-auto {
  margin-left: auto;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mr-\[18px\] {
  margin-right: 18px;
}
.mr-\[46px\] {
  margin-right: 46px;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-auto {
  margin-top: auto;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-6 {
  height: 1.5rem;
}
.h-60 {
  height: 15rem;
}
.h-8 {
  height: 2rem;
}
.h-\[128px\] {
  height: 128px;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[1px\] {
  height: 1px;
}
.h-\[211px\] {
  height: 211px;
}
.h-\[215px\] {
  height: 215px;
}
.h-\[29px\] {
  height: 29px;
}
.h-\[31px\] {
  height: 31px;
}
.h-\[324px\] {
  height: 324px;
}
.h-\[34px\] {
  height: 34px;
}
.h-\[356px\] {
  height: 356px;
}
.h-\[363px\] {
  height: 363px;
}
.h-\[479px\] {
  height: 479px;
}
.h-\[52px\] {
  height: 52px;
}
.h-\[67px\] {
  height: 67px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.min-h-\[356px\] {
  min-height: 356px;
}
.min-h-\[365px\] {
  min-height: 365px;
}
.min-h-\[390px\] {
  min-height: 390px;
}
.min-h-\[428px\] {
  min-height: 428px;
}
.w-8 {
  width: 2rem;
}
.w-\[101px\] {
  width: 101px;
}
.w-\[142px\] {
  width: 142px;
}
.w-\[180px\] {
  width: 180px;
}
.w-\[1px\] {
  width: 1px;
}
.w-\[244px\] {
  width: 244px;
}
.w-\[257px\] {
  width: 257px;
}
.w-\[264px\] {
  width: 264px;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-\[1323px\] {
  max-width: 1323px;
}
.max-w-\[1440px\] {
  max-width: 1440px;
}
.max-w-\[68\%\] {
  max-width: 68%;
}
.flex-none {
  flex: none;
}
.flex-grow {
  flex-grow: 1;
}
.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-\[10px\] {
  gap: 10px;
}
.gap-\[20px\] {
  gap: 20px;
}
.gap-\[23px\] {
  gap: 23px;
}
.gap-\[26px\] {
  gap: 26px;
}
.gap-\[38px\] {
  gap: 38px;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-\[4px\] {
  border-radius: 4px;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.border {
  border-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l-\[6px\] {
  border-left-width: 6px;
}
.border-borders {
  --tw-border-opacity: 1;
  border-color: rgb(232 232 232 / var(--tw-border-opacity, 1));
}
.border-b-borders {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(232 232 232 / var(--tw-border-opacity, 1));
}
.border-l-mint {
  --tw-border-opacity: 1;
  border-left-color: rgb(104 255 181 / var(--tw-border-opacity, 1));
}
.bg-\[\#BAB3FF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(186 179 255 / var(--tw-bg-opacity, 1));
}
.bg-\[\#D3CFCF\] {
  --tw-bg-opacity: 1;
  background-color: rgb(211 207 207 / var(--tw-bg-opacity, 1));
}
.bg-\[\#D9D9D9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity, 1));
}
.bg-\[\#E5E2E2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 226 226 / var(--tw-bg-opacity, 1));
}
.bg-\[\#EDEDF0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 237 240 / var(--tw-bg-opacity, 1));
}
.bg-accent {
  --tw-bg-opacity: 1;
  background-color: rgb(120 105 255 / var(--tw-bg-opacity, 1));
}
.bg-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity, 1));
}
.bg-borders {
  --tw-bg-opacity: 1;
  background-color: rgb(232 232 232 / var(--tw-bg-opacity, 1));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}
.bg-lightAccent {
  --tw-bg-opacity: 1;
  background-color: rgb(245 244 253 / var(--tw-bg-opacity, 1));
}
.bg-mint {
  --tw-bg-opacity: 1;
  background-color: rgb(104 255 181 / var(--tw-bg-opacity, 1));
}
.bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity, 1));
}
.bg-textColor {
  --tw-bg-opacity: 1;
  background-color: rgb(13 12 28 / var(--tw-bg-opacity, 1));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-8 {
  padding: 2rem;
}
.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-\[17px\] {
  padding-left: 17px;
  padding-right: 17px;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-\[7\.5px\] {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}
.pb-0 {
  padding-bottom: 0px;
}
.pb-4 {
  padding-bottom: 1rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-8 {
  padding-bottom: 2rem;
}
.pb-\[111px\] {
  padding-bottom: 111px;
}
.pb-\[148px\] {
  padding-bottom: 148px;
}
.pb-\[25px\] {
  padding-bottom: 25px;
}
.pb-\[27px\] {
  padding-bottom: 27px;
}
.pb-\[49px\] {
  padding-bottom: 49px;
}
.pl-10 {
  padding-left: 2.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-\[18px\] {
  padding-left: 18px;
}
.pl-\[45px\] {
  padding-left: 45px;
}
.pr-0 {
  padding-right: 0px;
}
.pr-\[37px\] {
  padding-right: 37px;
}
.pr-\[46px\] {
  padding-right: 46px;
}
.pr-\[6px\] {
  padding-right: 6px;
}
.pt-20 {
  padding-top: 5rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-\[22px\] {
  padding-top: 22px;
}
.pt-\[26px\] {
  padding-top: 26px;
}
.pt-\[59px\] {
  padding-top: 59px;
}
.pt-\[76px\] {
  padding-top: 76px;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.font-unbounded {
  font-family: Unbounded, sans-serif;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[10px\] {
  font-size: 10px;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[14px\] {
  font-size: 14px;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[24px\] {
  font-size: 24px;
}
.text-l {
  font-size: clamp(20px, 2.1vw, 28px);
  line-height: 1.4;
  font-weight: 500;
}
.text-lg {
  font-size: clamp(24px, 4.6vw, 40px);
  line-height: 1.23;
  font-weight: 500;
}
.text-m {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
}
.text-ml {
  font-size: clamp(20px, 2.8vw, 24px);
  line-height: 1.4;
  font-weight: 500;
}
.text-s {
  font-size: clamp(14px, 2vw, 18px);
  line-height: 1.5;
  font-weight: 500;
}
.text-sm {
  font-size: clamp(16px, 2.3vw, 20px);
  line-height: 1.4;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs {
  font-size: clamp(14px, 1.8vw, 16px);
  line-height: 1.5;
  font-weight: 700;
}
.text-xxs {
  font-size: clamp(10px, 1.4vw, 12px);
  line-height: 1.4;
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-normal {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.leading-\[1\.2\] {
  line-height: 1.2;
}
.leading-\[1\.4\] {
  line-height: 1.4;
}
.leading-normal {
  line-height: 1.5;
}
.text-\[\#2B293F\] {
  --tw-text-opacity: 1;
  color: rgb(43 41 63 / var(--tw-text-opacity, 1));
}
.text-\[\#3C347F\] {
  --tw-text-opacity: 1;
  color: rgb(60 52 127 / var(--tw-text-opacity, 1));
}
.text-\[\#BAB3FF\] {
  --tw-text-opacity: 1;
  color: rgb(186 179 255 / var(--tw-text-opacity, 1));
}
.text-\[\#FAFBFF\] {
  --tw-text-opacity: 1;
  color: rgb(250 251 255 / var(--tw-text-opacity, 1));
}
.text-accent {
  --tw-text-opacity: 1;
  color: rgb(120 105 255 / var(--tw-text-opacity, 1));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-mint {
  --tw-text-opacity: 1;
  color: rgb(104 255 181 / var(--tw-text-opacity, 1));
}
.text-neutral {
  --tw-text-opacity: 1;
  color: rgb(114 113 117 / var(--tw-text-opacity, 1));
}
.text-textColor {
  --tw-text-opacity: 1;
  color: rgb(13 12 28 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.placeholder-black::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(0 0 0 / var(--tw-placeholder-opacity, 1));
}
.placeholder-black::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(0 0 0 / var(--tw-placeholder-opacity, 1));
}
.placeholder-opacity-100::-moz-placeholder {
  --tw-placeholder-opacity: 1;
}
.placeholder-opacity-100::placeholder {
  --tw-placeholder-opacity: 1;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-300 {
  transition-duration: 300ms;
}
.duration-500 {
  transition-duration: 500ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button,
a {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.titleWithSlash::before {
  content: '/';
  font: 'Unbounded', sans-serif;
  font-size: clamp(24px, 4.6vw, 40px);
  line-height: 1.23;
  font-weight: 500;
  margin-right: 10px;
}

.placeholder\:hidden::-moz-placeholder {
  display: none;
}

.placeholder\:hidden::placeholder {
  display: none;
}

.hover\:text-accent:hover {
  --tw-text-opacity: 1;
  color: rgb(120 105 255 / var(--tw-text-opacity, 1));
}

.hover\:text-mint:hover {
  --tw-text-opacity: 1;
  color: rgb(104 255 181 / var(--tw-text-opacity, 1));
}

@media (min-width: 384px) {

  .s\:w-\[18px\] {
    width: 18px;
  }

  .s\:text-xs {
    font-size: clamp(14px, 1.8vw, 16px);
    line-height: 1.5;
    font-weight: 700;
  }

  .s\:font-normal {
    font-weight: 400;
  }
}

@media (min-width: 640px) {

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:mb-8 {
    margin-bottom: 2rem;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:h-\[110px\] {
    height: 110px;
  }

  .sm\:w-\[165px\] {
    width: 165px;
  }

  .sm\:w-\[50\%\] {
    width: 50%;
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:gap-\[22px\] {
    gap: 22px;
  }

  .sm\:gap-\[30px\] {
    gap: 30px;
  }

  .sm\:bg-\[\#FAFAFA\] {
    --tw-bg-opacity: 1;
    background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
  }

  .sm\:p-8 {
    padding: 2rem;
  }

  .sm\:font-unbounded {
    font-family: Unbounded, sans-serif;
  }

  .sm\:font-medium {
    font-weight: 500;
  }
}

@media (min-width: 768px) {

  .md\:visible {
    visibility: visible;
  }

  .md\:absolute {
    position: absolute;
  }

  .md\:inset-y-0 {
    top: 0px;
    bottom: 0px;
  }

  .md\:right-0 {
    right: 0px;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:row-span-2 {
    grid-row: span 2 / span 2;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-12 {
    margin-bottom: 3rem;
  }

  .md\:mb-4 {
    margin-bottom: 1rem;
  }

  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .md\:mb-\[19px\] {
    margin-bottom: 19px;
  }

  .md\:mb-\[27px\] {
    margin-bottom: 27px;
  }

  .md\:mb-\[30px\] {
    margin-bottom: 30px;
  }

  .md\:mb-\[46px\] {
    margin-bottom: 46px;
  }

  .md\:mb-\[50px\] {
    margin-bottom: 50px;
  }

  .md\:mb-\[59px\] {
    margin-bottom: 59px;
  }

  .md\:mb-\[77px\] {
    margin-bottom: 77px;
  }

  .md\:mr-0 {
    margin-right: 0px;
  }

  .md\:mt-6 {
    margin-top: 1.5rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:grid {
    display: grid;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-8 {
    height: 2rem;
  }

  .md\:h-\[249px\] {
    height: 249px;
  }

  .md\:h-\[283px\] {
    height: 283px;
  }

  .md\:h-\[44px\] {
    height: 44px;
  }

  .md\:h-\[45px\] {
    height: 45px;
  }

  .md\:h-\[496px\] {
    height: 496px;
  }

  .md\:h-\[52px\] {
    height: 52px;
  }

  .md\:h-auto {
    height: auto;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:min-h-\[220px\] {
    min-height: 220px;
  }

  .md\:min-h-\[397px\] {
    min-height: 397px;
  }

  .md\:min-h-\[398px\] {
    min-height: 398px;
  }

  .md\:min-h-full {
    min-height: 100%;
  }

  .md\:w-8 {
    width: 2rem;
  }

  .md\:w-\[106px\] {
    width: 106px;
  }

  .md\:w-\[272px\] {
    width: 272px;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[66\%\] {
    width: 66%;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-col-reverse {
    flex-direction: column-reverse;
  }

  .md\:items-stretch {
    align-items: stretch;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-3 {
    gap: 0.75rem;
  }

  .md\:gap-4 {
    gap: 1rem;
  }

  .md\:gap-6 {
    gap: 1.5rem;
  }

  .md\:gap-\[30px\] {
    gap: 30px;
  }

  .md\:rounded-lg {
    border-radius: 0.5rem;
  }

  .md\:rounded-xl {
    border-radius: 0.75rem;
  }

  .md\:border-b-0 {
    border-bottom-width: 0px;
  }

  .md\:border-l-0 {
    border-left-width: 0px;
  }

  .md\:border-l-\[6px\] {
    border-left-width: 6px;
  }

  .md\:border-l-mint {
    --tw-border-opacity: 1;
    border-left-color: rgb(104 255 181 / var(--tw-border-opacity, 1));
  }

  .md\:bg-accent {
    --tw-bg-opacity: 1;
    background-color: rgb(120 105 255 / var(--tw-bg-opacity, 1));
  }

  .md\:bg-transparent {
    background-color: transparent;
  }

  .md\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }

  .md\:p-0 {
    padding: 0px;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .md\:px-\[100px\] {
    padding-left: 100px;
    padding-right: 100px;
  }

  .md\:px-\[33px\] {
    padding-left: 33px;
    padding-right: 33px;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md\:py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .md\:py-\[37px\] {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .md\:pb-10 {
    padding-bottom: 2.5rem;
  }

  .md\:pb-6 {
    padding-bottom: 1.5rem;
  }

  .md\:pb-9 {
    padding-bottom: 2.25rem;
  }

  .md\:pb-\[54px\] {
    padding-bottom: 54px;
  }

  .md\:pr-3 {
    padding-right: 0.75rem;
  }

  .md\:pr-4 {
    padding-right: 1rem;
  }

  .md\:pt-8 {
    padding-top: 2rem;
  }

  .md\:pt-\[39px\] {
    padding-top: 39px;
  }

  .md\:pt-\[77px\] {
    padding-top: 77px;
  }

  .md\:font-unbounded {
    font-family: Unbounded, sans-serif;
  }

  .md\:text-\[10px\] {
    font-size: 10px;
  }

  .md\:text-\[12px\] {
    font-size: 12px;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[32px\] {
    font-size: 32px;
  }

  .md\:font-normal {
    font-weight: 400;
  }

  .md\:font-semibold {
    font-weight: 600;
  }

  .md\:text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }
}

@media (min-width: 1024px) {

  .lg\:mb-8 {
    margin-bottom: 2rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[52px\] {
    height: 52px;
  }

  .lg\:w-\[150px\] {
    width: 150px;
  }

  .lg\:w-\[294\.75px\] {
    width: 294.75px;
  }

  .lg\:w-\[294px\] {
    width: 294px;
  }

  .lg\:w-\[52px\] {
    width: 52px;
  }

  .lg\:w-\[61\.2\%\] {
    width: 61.2%;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-6 {
    gap: 1.5rem;
  }

  .lg\:gap-8 {
    gap: 2rem;
  }

  .lg\:p-6 {
    padding: 1.5rem;
  }

  .lg\:p-9 {
    padding: 2.25rem;
  }

  .lg\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .lg\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .lg\:pt-7 {
    padding-top: 1.75rem;
  }

  .lg\:pt-8 {
    padding-top: 2rem;
  }

  .lg\:text-\[14px\] {
    font-size: 14px;
  }

  .lg\:text-\[24px\] {
    font-size: 24px;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[36px\] {
    font-size: 36px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }
}

@media (min-width: 1280px) {

  .xl\:mr-0 {
    margin-right: 0px;
  }

  .xl\:mr-9 {
    margin-right: 2.25rem;
  }

  .xl\:h-\[34px\] {
    height: 34px;
  }

  .xl\:w-\[203px\] {
    width: 203px;
  }

  .xl\:gap-16 {
    gap: 4rem;
  }

  .xl\:gap-9 {
    gap: 2.25rem;
  }

  .xl\:gap-\[11px\] {
    gap: 11px;
  }

  .xl\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .xl\:pl-14 {
    padding-left: 3.5rem;
  }

  .xl\:pr-\[53px\] {
    padding-right: 53px;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:text-\[20px\] {
    font-size: 20px;
  }

  .xl\:text-\[28px\] {
    font-size: 28px;
  }
}

