<div
  class="pt-[61px] pb-[64px] pl-6 pr-[23px] md:py-12 md:px-[68px] border-y border-y-bordered"
>
  <p class="mb-[58px] md:mb-[37px] text-[20px] leading-[1.4] font-medium">
    Водночас ефективність цього бізнесу не менше залежить від купи більш нудних
    речей з сірих буднів: юридичного оформлення роботи, технічних особливостей
    приміщення чи роботою з персоналом.
  </p>

  <!-- автор -->
  <div class="flex items-center gap-3">
    <img
      src="../../static/images/ava.png"
      alt="автор"
      width="40"
      height="40"
      class="rounded-full"
    />
    <div>
      <p class="text-[16px] font-unbounded font-medium">Юрій Сидоров</p>
      <p class="font-unbounded text-[12px]">18.02.2025</p>
    </div>
  </div>
</div>
