<div class="p-8 rounded-xl border border-borders bg-[#FAFBFF]">
  <h4
    class="bg-accent text-white mb-6 md:mb-9 py-1 px-2 text-[16px] font-semibold leading-[1.2] font-unbounded w-fit rounded-[4px]"
  >
    Читайте також
  </h4>
  <ul class="flex flex-col gap-6 text-black md:font-unbounded">
    <li>
      <a href="/article.html" class="pb-4 border-b border-b-borders">
        Як працює кав'ярня: розбір про приміщення, персонал i бухгалтерію з
        керуючим партнером Escobar
      </a>
    </li>
    <li>
      <a href="/article.html" class="pb-4 border-b border-b-borders">
        Як працює кав'ярня: розбір про приміщення, персонал i бухгалтерію з
        керуючим партнером Escobar
      </a>
    </li>
    <li class="pb-4">
      <a href="/article.html"
        >Чи впливають обіцянки Трампа закінчити війну на ціни на нерухомість -
        думки ріелторів</a
      >
    </li>
  </ul>
</div>
