<div
  class="bg-[#BAB3FF] w-screen relative left-1/2 -translate-x-1/2 pt-[116px] pb-[82px] pl-9 pr-[22px] md:py-[118px] md:px-0"
>
  <div class="max-w-[720px] mx-auto">
    <p
      class="max-w-[720px] mb-12 md:mb-[33px] text-[24px] md:text-[28px] leading-[1.5] font-medium"
    >
      Враховуйте що в деяких приміщеннях можна зіткнутися з надмірним тиском
      води i особливо у високих ЖК. Відтак, звертайте увагу на наявність
      редукторів на трубі з водою та налаштуйте його до нормальних значень з
      допомогою сантехніка.
    </p>

    <!-- автор -->
    <div class="flex items-center gap-3">
      <img
        src="../../static/images/ava.png"
        alt="автор"
        width="89"
        height="89"
        class="rounded-full"
      />
      <div>
        <p class="text-[16px] font-unbounded font-medium">Юрій Сидоров</p>
        <p class="font-unbounded text-[12px]">18.02.2025</p>
      </div>
    </div>
  </div>
</div>
