<!-- варіант 1 -->
<section class="mx-auto max-w-[720px]">
  <div class="pb-6 border-b border-b-borders mb-8">
    <ul class="flex gap-2 flex-wrap mb-4 md:mb-8">
      <li
        class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
      </li>
      <li
        class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
      </li>
    </ul>

    <h2
      class="text-black text-[24px] md:text-[31px] font-unbounded font-medium leading-[1.4] mb-4"
    >
      Як працює кав'ярня: розбір про приміщення, персонал i бухгалтерію з
      керуючим партнером Escobar
    </h2>

    <div class="flex items-center">
      <div class="flex items-center gap-2">
        <img
          src="../static/images/ava.png"
          alt="автор"
          width="32"
          height="32"
          class="rounded-full"
        />
        <p class="text-[14px] font-medium leading-[1.4]">Юрій Сидоров</p>
      </div>
      <p class="mx-1 text-[14px] font-medium">·</p>
      <p class="text-accent text-[14px]">18.02.2025</p>
    </div>
  </div>

  <div class="mb-12">
    <img src="../static/images/article.webp" alt="зображення" width="720" />
  </div>
</section>

<!-- варіант 2 -->
<!-- <section class="mx-auto max-w-[720px]">
  <div class="pb-6 border-b border-b-borders mb-12">
    <ul class="flex gap-2 flex-wrap mb-4 md:mb-8">
      <li
        class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
      </li>
      <li
        class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
      </li>
    </ul>

    <h2
      class="text-black text-[24px] md:text-[31px] font-unbounded font-medium leading-[1.4] mb-4"
    >
      Як працює кав'ярня: розбір про приміщення, персонал i бухгалтерію з
      керуючим партнером Escobar
    </h2>

    <div class="flex items-center">
      <div class="flex items-center gap-2">
        <img
          src="../static/images/ava.png"
          alt="автор"
          width="32"
          height="32"
          class="rounded-full"
        />
        <p class="text-[14px] font-medium leading-[1.4]">Юрій Сидоров</p>
      </div>
      <p class="mx-1 text-[14px] font-medium">·</p>
      <p class="text-accent text-[14px]">18.02.2025</p>
    </div>
  </div>
</section> -->

<!-- варіант 3 -->
<!-- <section class="mx-auto max-w-[720px]">
  <div class="pb-6 border-b border-b-borders mb-8">
    <ul class="flex gap-2 flex-wrap mb-4 md:mb-8">
      <li
        class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
      </li>
      <li
        class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
      </li>
    </ul>

    <h2
      class="text-black text-[24px] md:text-[31px] font-unbounded font-medium leading-[1.4] mb-4"
    >
      Як працює кав'ярня: розбір про приміщення, персонал i бухгалтерію з
      керуючим партнером Escobar
    </h2>

    <div class="flex items-center">
      <div class="flex items-center gap-2">
        <img
          src="../static/images/ava.png"
          alt="автор"
          width="32"
          height="32"
          class="rounded-full"
        />
        <p class="text-[14px] font-medium leading-[1.4]">Юрій Сидоров</p>
      </div>
      <p class="mx-1 text-[14px] font-medium">·</p>
      <p class="text-accent text-[14px]">18.02.2025</p>
    </div>
  </div>

  <div class="mb-12 w-screen max-w-[1920px] relative left-1/2 -translate-x-1/2">
    <img
      src="../static/images/article.webp"
      alt="зображення"
      width="720"
      class="w-full h-auto"
    />
  </div>
</section> -->

<!-- варіант 4 -->
<!-- <section class="mx-auto max-w-[902px] mb-8 relative">
  <div class="absolute z-[3] bottom-[62px] md:bottom-[146px]">
    <ul class="flex gap-2 flex-wrap mb-[45px]">
      <li>
        <a
          href="/tag.html"
          class="rounded-[4px] px-3 py-1 bg-[#f5f4fd99] text-[#FAFBFF] text-xxs md:min-w-[100px]"
          >Економіка</a
        >
      </li>
      <li>
        <a
          href="/tag.html"
          class="px-3 py-1 rounded-[4px] bg-[#f5f4fd99] text-[#FAFBFF] text-xxs md:min-w-[100px]"
          >Економіка</a
        >
      </li>
    </ul>

    <h2
      class="text-white text-lg xl:text-[48px] font-unbounded font-medium leading-[1.4] mb-4 md:mb-[60px]"
    >
      Як працює кав'ярня: розбір про приміщення, персонал i бухгалтерію з
      керуючим партнером Escobar
    </h2>

    <div class="flex items-center text-white">
      <div class="flex items-center gap-2">
        <img
          src="../static/images/ava.png"
          alt="автор"
          width="32"
          height="32"
          class="rounded-full"
        />
        <p class="text-[14px] font-medium leading-[1.4]">Юрій Сидоров</p>
      </div>
      <p class="mx-1 text-[14px] font-medium">·</p>
      <p class="text-[14px]">18.02.2025</p>
    </div>
  </div>

  <div
    class="article mb-12 w-screen max-w-[1920px] h-[637px] md:h-[765px] relative left-1/2 -translate-x-1/2"
  >
    <img
      src="../static/images/article.webp"
      alt="зображення"
      width="720"
      class="h-full w-full object-cover object-top"
    />
  </div>
</section> -->
