<div
  class="mb-12 md:mb-[10px] pt-6 pb-[27px] flex flex-col md:flex-row gap-[35px] md:py-[38px] md:justify-between md:items-center w-full border-t border-t-borders"
>
  <ul class="flex gap-3 flex-wrap">
    <li
      class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
    >
      <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
    </li>
    <li
      class="rounded-[4px] bg-lightAccent text-accent text-xxs pd:min-w-[100px] hover:bg-[#E4E3F5] transition-colors duration-300"
    >
      <a href="/tag.html" class="rounded-[4px] px-3 py-1">Економіка</a>
    </li>
  </ul>
  <div class="flex items-center gap-6">
    <p class="text-black text-[12px] font-medium">Поділитись:</p>

    <svg
      width="24"
      height="24"
      class="text-accent hover:text-[#6D5DFF] transition-colors duration-300"
    >
      <use href="static/icons/sprite.svg#copy"></use>
    </svg>

    <a
      href="https://uk-ua.facebook.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        width="24"
        height="24"
        class="text-accent hover:text-[#6D5DFF] transition-colors duration-300"
      >
        <use href="static/icons/sprite.svg#facebook"></use>
      </svg>
    </a>

    <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
      <svg
        width="24"
        height="24"
        class="text-accent hover:text-[#6D5DFF] transition-colors duration-300"
      >
        <use href="static/icons/sprite.svg#x"></use>
      </svg>
    </a>

    <a
      href="https://web.telegram.org/k/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg
        width="24"
        height="24"
        class="text-accent hover:text-[#6D5DFF] transition-colors duration-300"
      >
        <use href="static/icons/sprite.svg#tg"></use>
      </svg>
    </a>
  </div>
</div>
