<div class="w-full overflow-x-auto">
  <div class="w-[720px] pb-4 md:pb-0">
    <table class="w-full table-auto rounded-lg text-center">
      <thead
        class="bg-mint font-unbounded text-[12px] leading-[1.4] font-semibold border border-mint"
      >
        <tr>
          <th class="px-4 py-[10px] w-[122px]">Рік</th>
          <th class="px-4 py-[10px] w-[249px]">Експорт, млн.грн</th>
          <th class="px-4 py-[10px]">Зміна відносно попереднього року, %</th>
        </tr>
      </thead>
      <tbody class="border border-[#F2F2F6] text-[16px] leading-[1.4]">
        <tr class="bg-transparent">
          <td class="px-4 py-[10px]">2025</td>
          <td class="px-4 py-[10px]">150</td>
          <td class="px-4 py-[10px]">7.8</td>
        </tr>
        <tr class="bg-[#F2F2F6]">
          <td class="px-4 py-[10px]">2025</td>
          <td class="px-4 py-[10px]">150</td>
          <td class="px-4 py-[10px]">7.8</td>
        </tr>
        <tr class="bg-transparent">
          <td class="px-4 py-[10px]">2025</td>
          <td class="px-4 py-[10px]">150</td>
          <td class="px-4 py-[10px]">7.8</td>
        </tr>
        <tr class="bg-[#F2F2F6]">
          <td class="px-4 py-[10px]">2025</td>
          <td class="px-4 py-[10px]">150</td>
          <td class="px-4 py-[10px]">7.8</td>
        </tr>
        <tr class="bg-transparent">
          <td class="px-4 py-[10px]">2025</td>
          <td class="px-4 py-[10px]">150</td>
          <td class="px-4 py-[10px]">7.8</td>
        </tr>
        <tr class="bg-[#F2F2F6]">
          <td class="px-4 py-[10px]">2025</td>
          <td class="px-4 py-[10px]">150</td>
          <td class="px-4 py-[10px]">7.8</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
