<footer class="bg-textColor text-white">
  <div
    class="mx-auto flex flex-col sm:flex-row max-w-[1323px] pt-20 pb-[49px] pr-[46px] pl-[45px] md:pt-[77px] md:pb-[54px] sm:justify-between md:px-5"
  >
    <div class="flex flex-col justify-between">
      <!-- Лого -->
      <div class="text-2xl font-bold mb-[85px] sm:mb-0">
        <a href="/">
          <svg
            width="272"
            height="45"
            class="w-[180px] h-[29px] md:w-[272px] md:h-[45px]"
          >
            <use href="static/icons/sprite.svg#white-logo"></use>
          </svg>
        </a>
      </div>

      <!--соц мережі та копірайт desk -->
      <div class="hidden sm:block">
        <!-- соц мережі desk-->
        <ul class="flex items-center sm:gap-[22px] lg:gap-8 mb-[46px]">
          <li>
            <a
              href="https://uk-ua.facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="24"
                height="24"
                class="text-mint hover:text-[#45ED9B] transition-colors duration-300"
              >
                <use href="static/icons/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
              <svg
                width="24"
                height="24"
                class="text-mint hover:text-[#45ED9B] transition-colors duration-300"
              >
                <use href="static/icons/sprite.svg#x"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="24"
                height="24"
                class="text-mint hover:text-[#45ED9B] transition-colors duration-300"
              >
                <use href="static/icons/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.threads.net/?hl=uk"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="24"
                height="24"
                class="text-mint hover:text-[#45ED9B] transition-colors duration-300"
              >
                <use href="static/icons/sprite.svg#threads"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://web.telegram.org/k/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="24"
                height="24"
                class="text-mint hover:text-[#45ED9B] transition-colors duration-300"
              >
                <use href="static/icons/sprite.svg#tg"></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.viber.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg
                width="24"
                height="24"
                class="text-mint hover:text-[#45ED9B] transition-colors duration-300"
              >
                <use href="static/icons/sprite.svg#viber"></use></svg
            ></a>
          </li>
        </ul>

        <!-- copyright -->
        <a href="#" class="text-[#BAB3FF] font-unbounded text-[12px]"
          >© Кошт Медіа 2025</a
        >
      </div>
    </div>

    <div
      class="flex justify-between gap-4 mb-[89px] md:mb-0 sm:w-[50%] lg:w-[61.2%]"
    >
      <!-- лінки -->
      <ul class="text-xs flex flex-col gap-[20px] font-normal">
        <li>
          <a href="#" class="hover:text-mint">Про проєкт</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Оферта</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Реклама</a>
        </li>
      </ul>

      <div>
        <!-- навігація -->
        <nav>
          <ul class="text-xs flex flex-col gap-[20px] font-normal">
            <li>
              <a href="/" class="footer-nav-link hover:text-mint">Головна</a>
            </li>
            <li>
              <a href="/updates.html" class="footer-nav-link hover:text-mint"
                >Оперативно</a
              >
            </li>
            <li>
              <a href="/details.html" class="footer-nav-link hover:text-mint"
                >Детально</a
              >
            </li>
            <li>
              <a href="/economy" class="footer-nav-link hover:text-mint"
                >Економіка</a
              >
            </li>
            <li>
              <a href="/finance" class="footer-nav-link hover:text-mint"
                >Фінанси</a
              >
            </li>
            <li>
              <a href="/startups" class="footer-nav-link hover:text-mint"
                >Стартапи</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <!-- додаткові лінки -->
      <ul class="hidden sm:flex text-xs flex-col gap-[20px] font-normal">
        <li>
          <a href="#" class="hover:text-mint">Прогноз курсу</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Бізнес-можливості</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Гранти для бізнесу</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Банківські картки</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Фінанси</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Фінанси</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Фінанси</a>
        </li>
      </ul>

      <ul class="hidden lg:flex text-xs flex-col gap-[20px] font-normal">
        <li>
          <a href="#" class="hover:text-mint">Прогноз курсу</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Бізнес-можливості</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Гранти для бізнесу</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Банківські картки</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Фінанси</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Фінанси</a>
        </li>
        <li>
          <a href="#" class="hover:text-mint">Фінанси</a>
        </li>
      </ul>
    </div>

    <!--соц мережі та копірайт моб -->
    <div class="sm:hidden">
      <!-- соц мережі mob-->
      <ul class="flex items-center gap-3 sm:gap-[22px] mb-[62px]">
        <li>
          <a
            href="https://uk-ua.facebook.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="32"
              height="32"
              class="text-mint hover:text-accent transition-colors duration-300"
            >
              <use href="static/icons/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://x.com/" target="_blank" rel="noopener noreferrer">
            <svg
              width="32"
              height="32"
              class="text-mint hover:text-accent transition-colors duration-300"
            >
              <use href="static/icons/sprite.svg#x"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="32"
              height="32"
              class="text-mint hover:text-accent transition-colors duration-300"
            >
              <use href="static/icons/sprite.svg#instagram"></use></svg
          ></a>
        </li>
        <li>
          <a
            href="https://www.threads.net/?hl=uk"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="32"
              height="32"
              class="text-mint hover:text-accent transition-colors duration-300"
            >
              <use href="static/icons/sprite.svg#threads"></use></svg
          ></a>
        </li>
        <li>
          <a
            href="https://web.telegram.org/k/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="32"
              height="32"
              class="text-mint hover:text-accent transition-colors duration-300"
            >
              <use href="static/icons/sprite.svg#tg"></use></svg
          ></a>
        </li>
        <li>
          <a
            href="https://www.viber.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              width="32"
              height="32"
              class="text-mint hover:text-accent transition-colors duration-300"
            >
              <use href="static/icons/sprite.svg#viber"></use></svg
          ></a>
        </li>
      </ul>

      <!-- copyright -->
      <a href="#" class="text-[#BAB3FF] font-unbounded text-[12px]"
        >© Кошт Медіа 2025</a
      >
    </div>
  </div>
</footer>
