<div
  class="min-h-[428px] md:h-full bg-[#BAB3FF] rounded-xl px-12 md:px-[100px] flex flex-col justify-center items-center"
>
  <h2
    class="text-black text-[24px] leading-[1.4] mb-6 md:mb-[50px] text-center font-unbounded"
  >
    Пишемо ще i на
    <br class="md:hidden" />
    такі <br class="hidden md:block" />теми
  </h2>
  <ul class="w-full flex flex-wrap gap-4 justify-center items-center">
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
        href="/tag.html"
      >
        Економіка
      </a>
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        Фінанси
      </a>
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        Курс валют
      </a>
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        Курс валют
      </a>
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
      >
        Інвестиції
      </a>
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
        >Акції</a
      >
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
        >Криптовалюти</a
      >
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
        >Інвестиції</a
      >
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
        >Інвестиції</a
      >
    </li>
    <li>
      <a
        class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit flex hover:bg-[#E4E3F5] transition-colors duration-300"
        >Інвестиції</a
      >
    </li>
  </ul>
</div>
