<div
  class="min-h-[428px] md:h-full bg-[#BAB3FF] rounded-xl px-12 md:px-[100px] flex flex-col justify-center items-center"
>
  <h2
    class="text-black text-[24px] leading-[1.4] mb-6 md:mb-[50px] text-center font-unbounded"
  >
    Пишемо ще i на
    <br class="md:hidden" />
    такі <br class="hidden md:block" />теми
  </h2>
  <ul class="w-full flex flex-wrap gap-4 justify-center items-center">
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Економіка
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Фінанси
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Курс валют
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Курс валют
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Інвестиції
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Акції
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Криптовалюти
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Інвестиції
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Інвестиції
    </li>
    <li
      class="bg-lightAccent rounded-lg p-3 text-accent text-[12px] font-medium leading-[1.4] w-fit"
    >
      Інвестиції
    </li>
  </ul>
</div>
