<ul class="flex flex-col gap-6">
  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка з фото -->
  <li
    class="border-b border-b-borders pb-6 md:pb-10 flex flex-col gap-4 md:flex-row md:gap-[30px]"
  >
    <!-- фото,якщо є -->
    <div>
      <img
        src="static/images/test.png"
        alt="тестове зображення"
        width="276"
        height="184"
        class="w-full h-auto rounded-lg"
      />
    </div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3
        class="text-black font-unbounded text-[16px] md:text-[18px] mb-2 md:mb-[19px]"
      >
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- з автором -->
      <div class="flex items-center">
        <!-- автор -->
        <div class="flex items-center gap-2">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="24"
            height="24"
            class="md:w-8 md:h-8"
          />
          <p class="text-[12px] md:text-[14px] font-medium leading-[1.4]">
            Юрій Сидоров
          </p>
        </div>
        <p class="mx-1 text-[14px] font-medium">·</p>
        <p class="text-accent text-[12px] h-[31px] flex items-center">
          18.02.2025
        </p>
      </div>
    </div>
  </li>

  <!-- заглушка -->
  <li class="h-[211px] bg-[#E5E2E2] py-4 md:py-9"></li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка з фото -->
  <li
    class="border-b border-b-borders pb-6 md:pb-10 flex flex-col gap-4 md:flex-row md:gap-[30px]"
  >
    <!-- фото,якщо є -->
    <div>
      <img
        src="static/images/test.png"
        alt="тестове зображення"
        width="276"
        height="184"
        class="w-full h-auto rounded-lg"
      />
    </div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3
        class="text-black font-unbounded text-[16px] md:text-[18px] mb-2 md:mb-[19px]"
      >
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- з автором -->
      <div class="flex items-center">
        <!-- автор -->
        <div class="flex items-center gap-2">
          <img
            src="static/images/ava.png"
            alt="автор"
            width="24"
            height="24"
            class="md:w-8 md:h-8"
          />
          <p class="text-[12px] md:text-[14px] font-medium leading-[1.4]">
            Юрій Сидоров
          </p>
        </div>
        <p class="mx-1 text-[14px] font-medium">·</p>
        <p class="text-accent text-[12px] h-[31px] flex items-center">
          18.02.2025
        </p>
      </div>
    </div>
  </li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- соцмережі -->
  <li id="socials"></li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>
  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>
  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>
  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <li id="interesting"></li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="border-b border-b-borders pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>

  <!-- картка без фото та інший шрифт заголовку -->
  <li class="pb-6 md:pb-10">
    <!-- фото,якщо є -->
    <div></div>
    <!-- текстова чатсина -->
    <div>
      <!-- список тегів -->
      <ul class="flex gap-2 flex-wrap mb-4 md:mb-5">
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Економіка</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Стартап</a>
        </li>
        <li
          class="bg-lightAccent rounded-lg text-accent text-xxs px-3 py-1 md:py-3 pd:min-w-[100px]"
        >
          <a href="/tag.html">Смартфони</a>
        </li>
      </ul>
      <h3 class="text-black text-[16px] md:text-[18px] mb-2 md:mb-[19px]">
        Всі месенджери та дзвінки в одному застосунку: Ringostat запустив
        повноцінну телефонію у смартфоні
      </h3>
      <!-- без автора -->
      <p class="text-accent text-[12px] h-[31px] flex items-center">
        18.02.2025
      </p>
    </div>
  </li>
</ul>
