<div
  class="rounded-xl p-6 md:py-8 md:px-3 xl:px-9 bg-white border-l-[6px] border-l-mint mb-6 md:mb-[77px] md:border-l-0"
>
  <h3 class="font-unbounded md:text-accent text-ml mb-[22px] md:mb-4">
    Важливі новини
  </h3>
  <ul
    class="flex flex-col gap-3 md:gap-4 md:flex-col-reverse mb-6 md:mb-[46px]"
  >
    <li
      class="flex flex-col md:flex-col-reverse gap-3 md:gap-2 border-b border-b-borders pb-4"
    >
      <p
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal"
      >
        Програму "Національного кешбеку" хочуть продовжити, але це не точно
      </p>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>

    <li
      class="flex flex-col md:flex-col-reverse gap-3 md:gap-2 border-b border-b-borders pb-4"
    >
      <p
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal"
      >
        Більше не потрібен папір: у "Дії" тепер відображається дозвіл на зброю
      </p>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>

    <li class="flex flex-col md:flex-col-reverse gap-3 md:gap-2">
      <p
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal"
      >
        Bitcoin обвалився у кишені США: реакція ринку на офіційне створення
        крипторезерву
      </p>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>
  </ul>

  <a
    class="lg:hidden flex h-[34px] justify-center items-center text-accent font-unbounded text-[12px] leading-[1.4]"
    >Всі новини -></a
  >
  <a
    href="#"
    class="hidden lg:flex w-full bg-accent text-white rounded-lg py-4 font-unbounded text-[14px] leading-[1.4] font-semibold justify-center"
    >Дивитись всі новини -></a
  >
</div>
