<div
  class="rounded-xl p-6 md:py-8 md:px-3 xl:px-9 bg-white border-l-[6px] border-l-mint md:mb-[77px]"
>
  <h3 class="hidden md:block font-unbounded text-ml mb-[22px] md:mb-4">
    Важливі новини
  </h3>
  <ul class="flex flex-col gap-3 md:gap-4">
    <li
      class="flex flex-col md:flex-col-reverse gap-3 md:gap-2 border-b border-b-borders pb-4"
    >
      <a
        href="#"
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal hover:text-accent transition-colors duration-300"
      >
        Програму "Національного кешбеку" хочуть продовжити, але це не точно
      </a>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>

    <li
      class="flex flex-col md:flex-col-reverse gap-3 md:gap-2 border-b border-b-borders pb-4"
    >
      <a
        href="#"
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal hover:text-accent transition-colors duration-300"
      >
        Більше не потрібен папір: у "Дії" тепер відображається дозвіл на зброю
      </a>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>

    <li class="flex flex-col md:flex-col-reverse gap-3 md:gap-2">
      <a
        href="#"
        class="text-[18px] md:text-[20px] font-medium leading-[1.4] md:font-normal hover:text-accent transition-colors duration-300"
      >
        Bitcoin обвалився у кишені США: реакція ринку на офіційне створення
        крипторезерву
      </a>
      <p
        class="text-[12px] md:text-[10px] text-accent font-medium leading-[1.2]"
      >
        18.02.2025
      </p>
    </li>
  </ul>
</div>
